#titre {
  color: #3d3d3d  ;
  text-align: center;
  font-family: "figtreebold";
}

#nav {
  padding-top: 7px;
  padding-bottom: 7px;
  align-content: center;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
  border-bottom: 2px dotted black;
  border-top: 2px dotted black;
}

.content {
  text-align: justify;
}

#nav a {
  text-decoration: none;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
  color: #9c9c9c;
}

#nav a:hover {
color: #d67e6e
}

#nav a::selection {
  color: #bc5845;
}

#contact {
  border: 2px dotted #d67e6e;
  padding: 15px 15px 15px 15px;
  display: flex;
  flex-direction: column;
  height: 30vh;
  width: 50vw;
}

#centenuContact {
  display: flex;
  flex-direction: row;
  height: 30vh;
}

#textFooter {
  text-align: center;
}

#topCV {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

#imgCV {
  position: relative;
  border: 3px #bc5845 solid;
}

#civilState {
  width: 25vw;
  color: #d67e6e;
}

body {
  background-color: #f9f9f9;
  font-family: "figtreelight";
  margin-left: 3%;
  margin-right: 3%
}

label {
  color: #bc5845;
}

h2 {
  color: #3d3d3d  ;
  font-family: "figtreebold";
  border-bottom: 2px solid #3d3d3d;
  color: #d67e6e;
}

h3 {
  font-size: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
}

p {
  margin-top: 8px;
  margin-bottom: 8px;
}

img {
  width: 30vw;
}

input {
  margin-bottom: 5px;
}

footer {
  padding-top: 15px;
  border-top: #3d3d3d 2px dotted;
  width: 94vw;
  height: 2.5rem;          /* Footer height */
}

#code {
  background-color: #9c9c9c;
}
@font-face {
  font-family: "figtreebold";
  src: url("Figtree-Bold.ttf");
}

@font-face {
  font-family: "Figtree-Light.ttf";
  src: url("figtreelight");
}